body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-img-top{
  object-fit: cover;
  height: 90px;;
}

.formCreaNft{
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  padding-left:30px;
  padding-right:30px;
}

.card{
  margin-top:20;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
